.badge-w-txt{
    position: absolute;
    top: -0.3rem;
    left: 1rem;
    padding: 0.1rem 0.3rem;
    border: 1px solid white;
    color: var(--badge-font-clr);
    background-color: var(--badge-w-txt-bg);
    border-radius: 0.5rem;
    font-size: 0.6rem;
    width: fit-content;
}
