

.text-xl{
    font-size: 3rem;
    margin: 0;
}
.text-l{
    font-size: 2rem;
    margin: 0;
}
.text-md{
    font-size: 1.5rem;
    margin: 0;
}
.text-reg{
    font-size: 1rem;
    margin: 0;
}

.text-sm{
    font-size: 0.75;
    margin: 0;
}

.text-xs{
    font-size: 0.5;
    margin: 0;
}

.text-no-margin{
    margin: 0;
}

.text-center{
    text-align: center;
}

.text-grey{
    color: var(--text-grey)
}
